* {
    text-align: center;
    }
    p {
        margin-left: auto;
        margin-right: auto;
        width: 15em
    }
    
    button {
      padding: 15px 25px;
      border-radius: 5px;
      border: 1;
      font-size: 14px;
      cursor: pointer;
      background: #ffc107;
      color: #70404;
      font-weight: 500;
    }