@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 100%;
  margin: 0 0;
  padding: 20px 5%;
  background-color: #262222;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header h1, h2 {
  color: white;
}

.nav a {
  text-decoration: none;
  color:#fff;
  padding:10px;
  border:1px solid #ccc;
  border-radius:5px;
}

.nav a:hover {
  background-color: #bfba22;
}

main {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
}

aside {
  width: 25%;
  height: 100%;
  background: #1b1f30;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

aside img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: 3px solid #ffaf0f;
}

.sec1 h2 {
  color: #ffaf0f;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.sec1 {
  text-align: center;
}

.sec2 h2 {
  color: #ffaf0f;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.sec3 h3 {
  color: #ffaf0f;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.sec1 ul li {
  color: white;
  padding: 14px 10px;
}

.sec2 ul li {
  color: white;
  padding: 14px 10px;
}

.sec3 ul li {
  color: white;
  padding: 14px 10px;
}

article {
  width: 75%;
  background: #ede8e8;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.skills {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.skills ul {
  list-style-type: none;
}

.skills ul li {
  padding: 0 0 0 20px;
}

.code {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 0 20px 0px;
}

.ab1{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 10px 0;
}

.ab1 h3 {
  background: #998585;
}

.skills h3 {
  background: #998585;
}

.code h3 {
  background: #998585;
}

footer {
  background-color: #262222;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

footer img {
  width: 60px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer p {
  color: white;
}
